
  header {
       background: yellow;
       border-radius: 0;
       margin: 0;
       border: 5px black;
       paddle: 0;
       }  
 
 #chicken> h2 {
  float: center;
}
#header-nav  {
background-colour: yellow;
border-radius: 0;
}
