
 
#header-nav  {
background-color: f6b319;
border-radius: 0;
}

 

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  text-align: center;
}
#nav-list a:hover{
   background: blue;
}
#nav-list a span{
  font-size: 1.8em;
}
